<div class="container">
    <div class="galleryGrid -type-1 pt-30">
        <div class="galleryGrid__item relative d-flex">
            <img src="https://cdn.pixabay.com/photo/2020/04/18/01/04/cityscape-5057263_1280.png" alt="image"
                class="rounded-4">
            <div class="absolute px-20 py-20 col-12 d-flex justify-end" style="display:none">
                <button class="button -blue-1 size-40 rounded-full flex-center bg-white text-dark-1">
                    <i class="icon-heart-empty text-16"></i>
                </button>
            </div>
        </div>
        <div class="galleryGrid__item">
            <img src="https://cdn.pixabay.com/photo/2020/04/18/01/04/cityscape-5057263_1280.png" alt="image"
                class="rounded-4">
        </div>
        <div class="galleryGrid__item">
            <img src="https://cdn.pixabay.com/photo/2020/04/18/01/04/cityscape-5057263_1280.png" alt="image"
                class="rounded-4">
        </div>
        <div class="galleryGrid__item">
            <img src="https://cdn.pixabay.com/photo/2020/04/18/01/04/cityscape-5057263_1280.png" alt="image"
                class="rounded-4">
        </div>
        <div class="galleryGrid__item relative d-flex">
            <img src="https://cdn.pixabay.com/photo/2020/04/18/01/04/cityscape-5057263_1280.png" alt="image"
                class="rounded-4">
            <div class="absolute px-10 py-10 col-12 h-full d-flex justify-end items-end">
                <a href="https://cdn.pixabay.com/photo/2020/04/18/01/04/cityscape-5057263_1280.png"
                    class="button -blue-1 px-24 py-15 bg-white text-dark-1 text-decoration-none">
                    Tüm Fotoğraflar
                </a>
            </div>
        </div>
    </div>
</div>