<div>
    <h3 class="text-22 fw-500 pt-40 border-top-light">Genel Bilgiler</h3>
    <p class="text-dark-1 text-15 mt-20">
    <p>
        Villamız, Antalya&#39;nın Kaş il&ccedil;esine bağlı Kalkan, <strong>
            Kınık
            Mevkii
        </strong>&#39;nde yer alıyor. Muhteşem doğal g&uuml;zellikleriyle bilinen
        Kalkan beldesi, Antalya&#39;nın en u&ccedil; k&ouml;şesinde bulunan, &uuml;nl&uuml;
        bir sahil kasabası! Bozulmadan kalmış doğası ve g&uuml;zelliği ile sizlere
        b&uuml;y&uuml;leyici bir tatil imkanı sunuyor.<br />
        <em>
            * Villamız doğa i&ccedil;erisinde konuma sahip olduğu i&ccedil;in,
            &ccedil;evrede; kelebek, b&ouml;cek, sinek vs. bulunma ihtimali vardır, bu gayet
            doğaldır.
        </em>
    </p>

    <p>
        Korunaklı havuz ve bah&ccedil;e alanı ile dış g&ouml;zlerden uzak tatilini
        ge&ccedil;irmek isteyenler ve mutaassıp aileler i&ccedil;in olduk&ccedil;a ideal
        kiralık villa se&ccedil;enekleri arasında yer almaktadır .
    </p>

    <p>
        <strong>Hasar Depozitosu</strong>: Hasar, zayi, kırık, d&ouml;k&uuml;k, vb.
        i&ccedil;in girişte 2000 TL depozito alınmaktadır. Depozito, kırık d&ouml;k&uuml;k,
        zarar ziyan, kayıp gibi herhangi bir problem olmadığı takdirde villa
        &ccedil;ıkışında iade edilmektedir.
    </p>
</div>