<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-22 fw-500 border px-10 py-15 mt-10 text-info rounded-3 shadow-4 border-2 ">
                Genel
                Özellikler
            </h3>

            <div class="row x-gap-40 y-gap-40 pt-20 justify-content-between">
                <div class="col-4 m-2 border border-2 border-secondary rounded-4 shadow-lg relative">
                    <div class="row y-gap-30">
                        <div class="col-12">
                            <div class="">
                                <div class="d-flex items-center text-16 fw-500">
                                    <img src="https://img.icons8.com/?size=512&id=tDEnssLjXHmz&format=png"
                                         style="width: 30px;" />
                                    &#xC7;ocuk Havuzu
                                </div>

                                <ul class="text-15 pt-10">
                                    <li class="d-flex items-center">
                                        <i class="icon-check text-30 mr-20"></i>
                                        <div style="font-size: 15px; font-weight: 700; display: contents; float: left;">
                                            Genişlik : 120cm /
                                        </div>
                                        <div style="font-size: 15px; font-weight: 700; display: contents; float: left;">
                                            Uzunluk : 600cm /
                                        </div>
                                        <div style="font-size: 15px; font-weight: 700; display: contents; float: left;">
                                            Derinlik : 130cm /
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="banner"></div>
                </div>
                <div class="col-4 m-2 border border-2 border-secondary rounded-4 shadow-lg relative">
                    <div class="row y-gap-30">
                        <div class="col-12">
                            <div class="">
                                <div class="d-flex items-center text-16 fw-500">
                                    <img src="https://img.icons8.com/?size=512&id=tDEnssLjXHmz&format=png"
                                         style="width: 30px;" />
                                    &#xC7;ocuk Havuzu
                                </div>

                                <ul class="text-15 pt-10">
                                    <li class="d-flex items-center">
                                        <i class="icon-check text-30 mr-20"></i>
                                        <div style="font-size: 15px; font-weight: 700; display: contents; float: left;">
                                            Genişlik : 120cm /
                                        </div>
                                        <div style="font-size: 15px; font-weight: 700; display: contents; float: left;">
                                            Uzunluk : 600cm /
                                        </div>
                                        <div style="font-size: 15px; font-weight: 700; display: contents; float: left;">
                                            Derinlik : 130cm /
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="banner"></div>
                </div>
                <div class="col-4 m-2 border border-2 border-secondary rounded-4 shadow-lg relative">
                    <div class="row y-gap-30">
                        <div class="col-12">
                            <div class="">
                                <div class="d-flex items-center text-16 fw-500">
                                    <img src="https://img.icons8.com/?size=512&id=tDEnssLjXHmz&format=png"
                                         style="width: 30px;" />
                                    &#xC7;ocuk Havuzu
                                </div>

                                <ul class="text-15 pt-10">
                                    <li class="d-flex items-center">
                                        <i class="icon-check text-30 mr-20"></i>
                                        <div style="font-size: 15px; font-weight: 700; display: contents; float: left;">
                                            Genişlik : 120cm /
                                        </div>
                                        <div style="font-size: 15px; font-weight: 700; display: contents; float: left;">
                                            Uzunluk : 600cm /
                                        </div>
                                        <div style="font-size: 15px; font-weight: 700; display: contents; float: left;">
                                            Derinlik : 130cm /
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="banner"></div>
                </div>
                <div class="col-4 m-2 border border-2 border-secondary rounded-4 shadow-lg relative">
                    <div class="row y-gap-30">
                        <div class="col-12">
                            <div class="">
                                <div class="d-flex items-center text-16 fw-500">
                                    <img src="https://img.icons8.com/?size=512&id=tDEnssLjXHmz&format=png"
                                         style="width: 30px;" />
                                    &#xC7;ocuk Havuzu
                                </div>

                                <ul class="text-15 pt-10">
                                    <li class="d-flex items-center">
                                        <i class="icon-check text-30 mr-20"></i>
                                        <div style="font-size: 15px; font-weight: 700; display: contents; float: left;">
                                            Genişlik : 120cm /
                                        </div>
                                        <div style="font-size: 15px; font-weight: 700; display: contents; float: left;">
                                            Uzunluk : 600cm /
                                        </div>
                                        <div style="font-size: 15px; font-weight: 700; display: contents; float: left;">
                                            Derinlik : 130cm /
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="banner"></div>
                </div>
            </div>
        </div>
    </div>
</div>