<div class="col-12 bg-blue-1 rounded-5 h-75 p-5 text-light relative" style="width: 35%;">
    <div class="w-auto text-light text-center fw-bold ">Bilgilendirme</div>
    <div class="d-flex align-items-center justify-content-center gap-5  h-100">
        <div class="d-flex flex-column">
            <p class="text-15 mb-0">
                Depozito
            </p>
            <p class="text-22">
                2000₺
            </p>
        </div>

        <div class="d-flex flex-column">
            <p class="text-15 mb-0">
                Depozito
            </p>
            <p class="text-22">
                2000₺
            </p>
            <p class="text-15 mb-0">
                Depozito
            </p>
            <p class="text-22">
                2000₺
            </p>
        </div>
        <div class="absolute col-12 h-full mb-5 d-flex justify-end items-end">
            <a class="button -blue-1 px-24 py-15 bg-white text-primary text-decoration-none rounded-end-3">
                İptal Şartı
            </a>
        </div>
    </div>
    <i class="icon-info-sign info-banner"></i>
</div>