<div class="col-12 col-xl-12 pricelistdetail text-22 fw-bold" style="text-align:left;">
    Dönemlik Fiyatlar
</div>
<div>
    <div class="p-2 row pricelist">
        <div class="rezPriceSchecude col-8">
            1 Mayıs -
            31 Mayıs 2023
            <span>Minimum 5 Gece Konaklama</span>
        </div>
        <div class="rezPriceScheculePrice col-4">
            1450₺
        </div>
    </div>
    <div class="p-2 row m-2 pricelist">
        <div class="rezPriceSchecude col-8">
            1 Haziran -
            15 Haziran 2023
            <span>Minimum 5 Gece Konaklama</span>
        </div>
        <div class="rezPriceScheculePrice col-4">
            2000₺
        </div>
    </div>
    <div class="p-2 row m-2 pricelist">
        <div class="rezPriceSchecude col-8">
            16 Haziran -
            10 Eylül 2023
            <span>Minimum 5 Gece Konaklama</span>
        </div>
        <div class="rezPriceScheculePrice col-4">
            3500₺
        </div>
    </div>
    <div class="p-2 row m-2 pricelist">
        <div class="rezPriceSchecude col-8">
            11 Eylül -
            30 Eylül 2023
            <span>Minimum 5 Gece Konaklama</span>
        </div>
        <div class="rezPriceScheculePrice col-4">
            2500₺
        </div>
    </div>
    <div class="p-2 row m-2 pricelist">
        <div class="rezPriceSchecude col-8">
            1 Ekim -
            31 Ekim 2023
            <span>Minimum 5 Gece Konaklama</span>
        </div>
        <div class="rezPriceScheculePrice col-4">
            2000₺
        </div>
    </div>
    <div class="p-2 row m-2 pricelist">
        <div class="rezPriceSchecude col-8">
            1 Kasım -
            30 Kasım 2023
            <span>Minimum 5 Gece Konaklama</span>
        </div>
        <div class="rezPriceScheculePrice col-4">
            1000₺
        </div>
    </div>
</div>