<div class="row y-gap-20 pt-30">
    <div class="col-lg-3 col-6">
        <div class="text-center">
            <img style="width:40px"
                 src="https://img.icons8.com/?size=512&id=K0SsO4F9NrD1&format=png" />

            <div class="text-20 lh-1 mt-10">Kapasite</div>
            <div class="text-10 lh-1 mt-10">4 Ki&#x15F;ilik</div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="text-center">
            <img style="width:40px"
                 src="https://img.icons8.com/?size=512&id=K0SsO4F9NrD1&format=png" />

            <div class="text-20 lh-1 mt-10">Oda Say&#x131;s&#x131;</div>
            <div class="text-10 lh-1 mt-10">2 Oda</div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="text-center">
            <img style="width:40px"
                 src="https://img.icons8.com/?size=512&id=K0SsO4F9NrD1&format=png" />

            <div class="text-20 lh-1 mt-10">Yatak Say&#x131;s&#x131;</div>
            <div class="text-10 lh-1 mt-10">3 Yatak</div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="text-center">
            <img style="width:40px"
                 src="https://img.icons8.com/?size=512&id=K0SsO4F9NrD1&format=png" />

            <div class="text-20 lh-1 mt-10">Banyo Say&#x131;s&#x131;</div>
            <div class="text-10 lh-1 mt-10">2 Banyo</div>
        </div>
    </div>
</div>