<div class="container">
    <div class="d-flex flex-wrap justify-content-center  mb-4 my-5">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img width="40" height="32" src="https://img.icons8.com/?size=512&id=8brQhSA7i3Yn&format=png" />
            <span class="fs-4">Simple header</span>
        </a>
    </div>
</div>