@model IconUpdateModel
<div class="text-center my-5">
    <div class="dispaly-6">Update (@Model.IconDtoForUpdate.FileName)</div>
</div>
<form method="post" asp-action="Update" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-center text-danger"></div>
    <div>
        <input type="hidden" asp-for="IconDtoForUpdate.Id" />
        <input type="hidden" asp-for="IconDtoForUpdate.CreatedByUser" />
        <input type="hidden" asp-for="IconDtoForUpdate.CreatedAt" />
        <input type="hidden" asp-for="OldFileName" value="@(Model.IconDtoForUpdate.FileName)" />
    </div>
    <div class="form-group my-3">
        <div class="my-1">
            <img height="250" width="250" src="~/images/uploads/icons/@(Model.IconDtoForUpdate.FileName).webp" />
        </div>
        <label class="form-label">File</label>
        <input type="file" name="formFile" id="formFile" class="form-control" accept="image/*" />
    </div>
    <div class="form-group my-3">
        <label class="form-label" asp-for="IconDtoForUpdate.FileName"></label>
        <input asp-for="IconDtoForUpdate.FileName" class="form-control" />
    </div>
    <partial name="_DefaultPartialHtmlForUpdateByBackButton" />
</form>