<div class="wrapper d-flex align-items-stretch h-100">
    <nav id="sidebar" class="active bg-secondary">
        <ul class="components bg-secondary">
            <li class="active">
                <a type="button" id="sidebarCollapse" class="btn h-100">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index"><span class="fa fa-home"></span> Dashboard</a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Icon" asp-action="Index"><span class="fa-solid fa-file-invoice-dollar"></span>Icons</a>
            </li>
            <li>
                <a href="#"><span class="fa-solid fa-file-invoice-dollar"></span>Invoice</a>
            </li>
            <li>
                <a href="#"><span class="fa-solid fa-magnifying-glass"></span>Search Villa</a>
            </li>
            <li>
                <a href="#"><span class="fa-solid fa-file mx-1"></span>Offers</a>
            </li>
            <li>
                <a href="#reservationManagement" class="list-group-item list-group-item-action d-flex" data-bs-toggle="collapse">
                    <div><span class="fa-solid fa-chart-column"></span>Reservation Management</div>
                 </a>
                <div class="collapse" id="reservationManagement">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-solid fa-plus"></i>
                            Create Reservation
                         </a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-solid fa-eye"></i>
                            Pre-Reservations
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-solid fa-money-bill"></i>
                            Reservations
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-solid fa-eye"></i>
                            Open Reservations
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-solid fa-money-bill"></i>
                            Active Options
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-solid fa-money-bill"></i>
                            Manual Shutdowns
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-solid fa-money-bill"></i>
                            Partial Payments
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-brands fa-cc-mastercard"></i>
                            POS Payments    
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-brands fa-cc-mastercard"></i>
                            Remittance Forms
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-solid fa-info"></i>
                            Reports
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-regular fa-calendar"></i>
                            Availability
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-solid fa-user-group"></i>
                            Instant Customer List
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <a href="#"><span class="fa-solid fa-file"></span>Virtual Pos Login</a>
            </li>
            <li>
                <a href="#pageManagement" class="list-group-item list-group-item-action d-flex" data-bs-toggle="collapse">
                    <div><span class="fa-regular fa-copy"></span>Page Management</div>
                </a>
                <div class="collapse" id="pageManagement">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-solid fa-language"></i>
                            Tr
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-solid fa-language"></i>
                            En
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <a href="#blogManagement" class="list-group-item list-group-item-action d-flex" data-bs-toggle="collapse">
                    <div><span class="fa-regular fa-copy"></span>Blog Management</div>
                </a>
                <div class="collapse" id="blogManagement">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-solid fa-language"></i>
                            Tr
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-solid fa-language"></i>
                            En
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-solid fa-database"></i>
                            Blog Categories
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <a href="#propertyManagement" class="list-group-item list-group-item-action d-flex" data-bs-toggle="collapse">
                    <div><span class="fa fa-user"></span>Property Management</div>
                </a>
                <div class="collapse" id="propertyManagement">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">Add new property</a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">Real Estate</a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">Batch Edit</a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">Property Types</a>
                        <a asp-area="RealEstateManagement" asp-controller="Region" asp-action="Index" class="list-group-item list-group-item-action bg-secondary">Region</a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">Real Estate Features</a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">Dahil Olanlar</a>
                        <a asp-area="RealEstateManagement" asp-controller="Highlights" asp-action="Index" class="list-group-item list-group-item-action bg-secondary">Highlights</a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">Mesafeler</a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">Mesafe Cetveli</a>
                        <a asp-area="RealEstateManagement" asp-controller="BedTypes" asp-action="Index" class="list-group-item list-group-item-action bg-secondary">Bed Types & Items</a>
                        <a asp-area="RealEstateManagement" asp-controller="Rooms" asp-action="Index" class="list-group-item list-group-item-action bg-secondary">Rooms</a>
                        <a asp-area="RealEstateManagement" asp-controller="RoomFeatures" asp-action="Index" class="list-group-item list-group-item-action bg-secondary">Room Features</a>
                        <a asp-area="RealEstateManagement" asp-controller="HeatingOptions" asp-action="Index" class="list-group-item list-group-item-action bg-secondary">Heating Options</a>
                        <a asp-area="RealEstateManagement" asp-controller="Rules" asp-action="Index" class="list-group-item list-group-item-action bg-secondary">Rules</a>
                    </div>
                </div>
            </li>
            <li>
                <a href="#pageManagement" class="list-group-item list-group-item-action d-flex" data-bs-toggle="collapse">
                    <div><span class="fa-brands fa-cc-mastercard"></span>Bank Accounts</div>
                </a>
                <div class="collapse" id="pageManagement">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-solid fa-credit-card"></i>
                            Add New Bank Account
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-solid fa-credit-card"></i>
                            Account
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <a href="#"><span class="fa-regular fa-envelope-open"></span>Visitor Book</a>
            </li>
            <li>
                <a href="#sliderPhotos" class="list-group-item list-group-item-action d-flex" data-bs-toggle="collapse">
                    <div><span class="fa-solid fa-desktop"></span>Slider Photos</div>
                </a>
                <div class="collapse" id="sliderPhotos">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-solid fa-language"></i>
                            Tr
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-solid fa-language"></i>
                            En
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <a href="#"><span class="fa-solid fa-gear"></span>Redirects</a>
            </li>
            <li>
                <a href="#"><span class="fa-regular fa-envelope-open"></span>Contact Management</a>
            </li>
            <li>
                <a href="#"><span class="fa-solid fa-cart-shopping"></span>Sales Channels</a>
            </li>
            <li>
                <a href="#mailTemplates" class="list-group-item list-group-item-action d-flex" data-bs-toggle="collapse">
                    <div><span class="fa-regular fa-envelope"></span>Mail Templates</div>
                </a>
                <div class="collapse" id="mailTemplates">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-solid fa-language"></i>
                            Tr
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-solid fa-language"></i>
                            En
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <a href="#smsTemplates" class="list-group-item list-group-item-action d-flex" data-bs-toggle="collapse">
                    <div><span class="fa-solid fa-phone"></span>Sms Templates</div>
                </a>
                <div class="collapse" id="smsTemplates">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-solid fa-language"></i>
                            Tr
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-solid fa-language"></i>
                            En
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <a href="#homeowners" class="list-group-item list-group-item-action d-flex" data-bs-toggle="collapse">
                    <div><span class="fa-solid fa-user"></span>Homeowners</div>
                </a>
                <div class="collapse" id="homeowners">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-solid fa-language"></i>
                            List Homeowners
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-solid fa-language"></i>
                            Add New Homeowner
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <a href="#vehiclesTr" class="list-group-item list-group-item-action d-flex" data-bs-toggle="collapse">
                    <div><span class="fa-solid fa-gears"></span>Vehicles [TR]</div>
                </a>
                <div class="collapse" id="vehiclesTr">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-brands fa-whatsapp"></i>
                            Whatsapp contact
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-brands fa-instagram"></i>
                            Instagram
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-brands fa-instagram"></i>
                            Bulk Sms Sending
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <a href="#vehiclesEn" class="list-group-item list-group-item-action d-flex" data-bs-toggle="collapse">
                    <div><span class="fa-solid fa-gears"></span>Vehicles [TR]</div>
                </a>
                <div class="collapse" id="vehiclesEn">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-brands fa-whatsapp"></i>
                            Whatsapp contact
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-brands fa-instagram"></i>
                            Instagram
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-brands fa-instagram"></i>
                            Bulk Sms Sending
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <a href="#vehiclesEn" class="list-group-item list-group-item-action d-flex" data-bs-toggle="collapse">
                    <div><span class="fa-solid fa-gear"></span>Settings</div>
                </a>
                <div class="collapse" id="vehiclesEn">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-solid fa-gear"></i>
                            General Settings [TR]
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-solid fa-gear"></i>
                            General Settings [EN]
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-solid fa-dollar-sign"></i>
                            Currency Settings [TR]
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-secondary">
                            <i class="fa-solid fa-dollar-sign"></i>
                            Currency Settings [EN]
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</div>