@model Pagination
<div class="text-center my-5">
    <div class="btn-group"
         page-class="btn"
         page-class-enabled="true"
         page-class-normal="btn-outline-secondary"
         page-class-selected="btn-secondary"
         page-model="@Model"
         page-action="Index">
    </div>
</div>