<div class="form-group my-3">
    <div class="btn-group d-flex justify-content-end">
        <input type="submit" class="btn btn-secondary" />
        <a asp-action="Index" class="btn btn-outline-secondary">
            <i class="fas fa-arrow-left"></i>
            Back
        </a>
    </div>
</div>
