@model CreateRealEstateInsertionModel
@await Html.PartialAsync("_TextEditorFirstPartialView")
<div class="text-danger" asp-validation-summary="All"></div>
<div class="form-group mb-3">
    <label asp-for="RealEstateDto.Title" class="form-label"></label>
    <input required asp-for="RealEstateDto.Title" class="form-control" />
</div>
<div class="form-group mb-3">
    <label asp-for="RealEstateDto.Description" class="form-label"></label>
    <input required asp-for="RealEstateDto.Description" class="form-control" />
</div>
<div class="form-group mb-3">
    <div class="container" id="editor"></div>
</div>
@await Html.PartialAsync("_TextEditorPartialView")