@model RulesDtoForUpdate
<div class="text-center my-5">
    <div class="dispaly-6">Update (@Model.Rule_Title_Tr)</div>
</div>
<form method="post" asp-action="Update">
    <div asp-validation-summary="All" class="text-center text-danger"></div>
    <div class="row my-5">
        <div class="col-md-6">
            <div>
                <input type="hidden" asp-for="Id" />
            </div>
            <div class="form-group my-3">
                <label class="form-label" asp-for="Rule_Title_Tr"></label>
                <input asp-for="Rule_Title_Tr" class="form-control" />
            </div>
            <div class="form-group my-3">
                <label class="form-label" asp-for="Rule_Title_En"></label>
                <input asp-for="Rule_Title_En" class="form-control" />
            </div>

            <div class="form-group my-3">
                <label class="form-label" asp-for="IconString"></label>
                <input asp-for="IconString" class="form-control" />
            </div>
            <div class="form-group my-3">
                <div class="btn-group d-flex justify-content-end">
                    <input type="submit" class="btn btn-secondary" />
                    <a asp-controller="Rule" asp-action="Index" class="btn btn-outline-secondary">
                        <i class="fas fa-arrow-left"></i>
                        Back
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>